---
import Site from "../../layouts/Site.astro"
import Section from "../../components/container/Section.astro"
import { Var } from "../../script/var"
import Link from "../../components/elements/Link.astro"

const title = `Contact Us — ${Var.app.name}`
---

<Site title={title} description={Var.app.description}>
	<Section>
		<main>
			<h1>Contact Us</h1>
			<br/>
			<p>For assistance, bug reports or feature requests, kindly reach out to us:</p>
			<p>
				<Link href={`mailto:${Var.app.contact.email}`}><strong>{Var.app.contact.email}</strong></Link>
			</p>
			<p>
				<Link href={Var.app.contact.social.twitter} target="_blank"><strong>{Var.app.contact.social.twitter}</strong></Link>
			</p>
		</main>
	</Section>
</Site>

<style>
	main {
		text-align: center;
	}
</style>