---
import '../styles/index.css';
import Header from "../components/patterns/Header.astro"
import Footer from "../components/patterns/Footer.astro"

interface Props {
	title: string;
    description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<script type="text/partytown" async src="https://www.googletagmanager.com/gtag/js?id=G-RHJFSE53QE"></script>
		<script type="text/partytown">
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'G-RHJFSE53QE');
		</script>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<meta property="og:title" content={title}>
		<meta property="og:type" content="article" />
		<meta property="og:description" content={description}>
		<meta property="og:image" content="https://res.cloudinary.com/dj9xh37fj/image/upload/v1721721181/InnerPage_OpenGraph_Image_kshqjr.png">
		<meta property="og:image:alt" content={description}>
		<meta property="og:url" content="https://innerpage.org">
		<meta name="twitter:card" content="summary_large_image">
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<link rel="sitemap" href="/sitemap-0.xml" />
		<link rel="canonical" href="https://innerpage.org" />
		<meta name="msvalidate.01" content="6E4C3E4BD09CEC44E8CEF17E98809021" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<!-- TODO: Self-host the fonts and icons -->
		<link rel="stylesheet" as="style" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,700,0,0" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
    	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    	<link rel="stylesheet" as="style" href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600&family=IBM+Plex+Serif:wght@400;600&display=swap"  />	
	</head>
	<body>
		<Header></Header>
		<slot />
		<Footer></Footer>
	</body>
</html>
