---
import Site from "../layouts/Site.astro"
import Section from "../components/container/Section.astro"
import Link from "../components/elements/Link.astro"
import { Var } from "../script/var"
import Card from "../components/container/Card.astro"


---

<Site title={`${Var.app.name} — ${Var.app.tagline}`} description={Var.app.description}>
	<div id="petal-container">  
		<img alt="InnerPage petal" class="petal" src="./petal-1.webp"/>
		<img alt="InnerPage petal" class="petal" src="./petal-2.webp"/>
		<img alt="InnerPage petal" class="petal" src="./petal-5.webp"/>
	</div>
	<Section>
		<div class="hero">
			<h1>Improve your mental health</h1>
			<p>InnerPage is a <strong>private and secure digital journal for privacy conscious people</strong>. Pour out your deepest thoughts and feelings <strong>anonymously</strong></p>
			<br/>
			<Link href={Var.app.url} variant="button" fill="solid" theme="default" size="large"><strong>Start Writing</strong></Link>
		</div>
	</Section>
	<Section>
		<article>
			<Card>
				<p style="margin:0; margin-top: 1em;">
					<em>"One of the more effective acts of self-care is also, happily, one of the cheapest"</em>
				</p>
				<div class="row-reverse">
					<p>
						<Link target="_blank" href="https://www.nytimes.com/2018/10/25/style/journaling-benefits.html"><strong>What’s All This About Journaling?</strong></Link><br/> <span class="footnote">THE NEW YORK TIMES</span>
					</p>
				</div>
				<div class="seperator"></div>
				<p style="margin:0; margin-top: 1em;">
					<em>"The process of putting emotions into words seems to unintentionally activate a process of emotion regulation"</em>
				</p>
				<div class="row-reverse">
					<p>
						<Link target="_blank" href="https://blogs.kcl.ac.uk/editlab/2018/03/16/putting-feelings-into-words-the-beneficial-effects-of-affect-labelling/"><strong>Putting feelings into words</strong></Link><br/> <span class="footnote">EDIT LAB, KING's COLLEGE LONDON</span>
					</p>
				</div>
				<div class="seperator"></div>
				<p style="margin:0; margin-top: 1em;">
					<em>"Study after study showed that writing about traumatic experience had significant effect on mental health, physical health & a variety of other behaviours"</em>
				</p>
				<div class="row-reverse">
					<p>
						<Link target="_blank" href="https://www.youtube.com/watch?v=XsHIV9PxAV4"><strong>The expressive writing method</strong></Link><br/> <span class="footnote">JAMES PENNEBAKER</span>
					</p>
				</div>
			</Card>
		</article>
	</Section>
	<Section>
		<main>
			<h2>How journaling improves mental health?</h2>
			<article>
				<p>Journaling has been shown to have various benefits for mental health, supported by numerous studies and expert opinions. Here are some key ways journaling can improve mental health:</p>
				<br/><br/>
				<ul>
					<li class="list-item__icon-label"><span class="material-symbols-outlined">check</span> <strong>Reduces Stress and Anxiety</strong></li>
					<li class="list-item__icon-label"><span class="material-symbols-outlined">check</span> <strong>Enhances Emotional Regulation</strong></li>
					<li class="list-item__icon-label"><span class="material-symbols-outlined">check</span> <strong>Improves Mood and Well-being</strong></li>
					<li class="list-item__icon-label"><span class="material-symbols-outlined">check</span> <strong>Facilitates Problem Solving and Cognitive Function</strong></li>
					<li class="list-item__icon-label"><span class="material-symbols-outlined">check</span> <strong>Boosts Memory and Immune Function</strong></li>
					<li class="list-item__icon-label"><span class="material-symbols-outlined">check</span> <strong>Enhances Self-Awareness and Encourages Mindfulness</strong></li>
				</ul>
			</article>
		</main>
	</Section>
	<Section>
		<main>
			<h2>Why use InnerPage?</h2>
			<article>
				<p>We believe  your personal reflections should remain truly personal. Our privacy-centric digital journal is designed with your confidentiality as our top priority. Your anonymity isn't just a feature; it's the foundation value of InnerPage. Here is how InnerPage fulfills your secure & private journalling needs:</p>
				<br/><br/>
				<ul>
					<li class="list-item__icon-label">
						<span class="material-symbols-outlined">check</span>
						<div>	
							<p><strong>100% Anonymous Sign-Up</strong></p>
							<p>No email or phone number required - just choose a username and password</p>
						</div> 
					</li>
					<li class="list-item__icon-label">
						<span class="material-symbols-outlined">check</span> 
						<div>
							<p><strong>Zero Data Collection</strong></p>
							<p>We never track, analyze, or store your journaling habits</p>
						</div>
					</li>
					<li class="list-item__icon-label">
						<span class="material-symbols-outlined">check</span> 
						<div>
							<p><strong>User Data Control</strong></p>
							<p>Delete your account and entries anytime, without any hassle</p>
						</div>
					</li>
					<li class="list-item__icon-label">
						<span class="material-symbols-outlined">check</span> 
						<p><strong>No Third-Party Sharing</strong></p>
						<p>Your private thoughts stay private - we never share your notes</p>
					</li>
				</ul>
			</article>
		</main>
	</Section>
	<Section>
		<main>
			<h2>Contact Us</h2>
			<article>
				<p>Kindly reach out to us for any kind of assistance, feature requests or bug reports:</p>
				<br/>
				<ul>
					<li><strong>Email:</strong>&nbsp;&nbsp;<Link href={`mailto:${Var.app.contact.email}`}><strong>{Var.app.contact.email}</strong></Link></li>
					<li><strong>Twitter:</strong>&nbsp;&nbsp;<Link href={Var.app.contact.social.twitter} target="_blank"><strong>{Var.app.contact.social.twitter}</strong></Link></li>
				</ul>
			</article>
		</main>
	</Section>
</Site>

<style>
	.list-item__icon-label {
		display: flex;
	}

	.hero {
		text-align: center;
		max-width: 750px;
		margin: 0 auto;
	}

	.petal {
		width: 25px;
		position: absolute;
	}
	
	.petal:nth-child(1) {
		top: 32vh;
		left: -10%;
		animation: blowing 10s 1s linear infinite;
	}
	.petal:nth-child(2) {
		top: 30vh;
		left: -10%;
		animation: blowing 8s linear infinite;
	}
	.petal:nth-child(3) {
		top: 40vh;
		left: -10%;
		animation: blowing 9s 3s linear infinite;
	}

	@keyframes blowing {
		0% {
			transform: translate(0,0) rotate(0)
		}
		25% {
			transform: translate(25vw, -10vh) rotate(120deg)
		}
		50% {
			transform: translate(50vw, -12vh) rotate(180deg)
		}
		75% {
			transform: translate(75vw, -17vh) rotate(250deg)
		}
		100% {
			transform: translate(100vw, -25vh) rotate(360deg)
		}
	}

	.material-symbols-outlined {
		position: relative;
		color: var(--color__green--300);
		top: 5px;
		margin-right: 0.25em;
	}
</style>
