---
import Site from '../layouts/Site.astro'
import Section from '../components/container/Section.astro'
import Link from '../components/elements/Link.astro'
import { Var } from '../script/var'

const title = `${Var.app.name} — ${Var.app.tagline}`
const description = Var.app.description
---

<Site title={title} description={description}>
  <div id="petal-container">
    <img alt="Animated petal" class="petal" src="./newPetal-1.svg" />
    <img alt="Animated petal" class="petal" src="./newPetal-2.svg" />
    <img alt="Animated petal" class="petal" src="./newPetal-3.svg" />
  </div>
  <Section>
    <div class="hero">
      <h1>{Var.app.tagline}</h1>
      <h2>
        {Var.app.name} is a free and anonymous journal for privacy conscious people
      </h2>
    </div>
    <Link
      href={Var.app.url}
      variant="button"
      fill="solid"
      theme="default"
      size="small"
    >
      <strong>Start Journaling</strong>
    </Link>
  </Section>
  <Section>
    <article>
      <ul class="separator-list">
        <li>
          <h2 class="quote">
            One of the more effective acts of self-care is also, happily, one of
            the cheapest
          </h2>
          <Link
            target="_blank"
            href="https://www.nytimes.com/2018/10/25/style/journaling-benefits.html"
          >
            <strong>What’s All This About Journaling?</strong>
          </Link>
          <p class="footnote">The New York Times</p>
        </li>
        <li>
          <h2 class="quote">
            Writing about traumatic experience can have positive effect on both
            mental and physical health
          </h2>
          <p class="footnote">
            <Link
              target="_blank"
              href="https://www.youtube.com/watch?v=XsHIV9PxAV4"
            >
              <strong>The expressive writing method</strong>
            </Link><br />
            James Pennebaker
          </p>
        </li>
      </ul>
    </article>
  </Section>
  <Section>
    <h2>100% Anonymous</h2>
    <h3>Create account with just a username & password</h3>
    <img
      class="featured_images display-on-desktop"
      width="75%"
      src="./login-desktop.jpg"
      alt="Innerpage doesn not collect your data"
    />
    <img
      class="featured_images display-on-mobile"
      width="100%"
      src="./login-mobile.jpg"
      alt="Innerpage doesn not collect your data"
    />
  </Section>
  <Section>
    <h2>Not a social platform</h2>
    <h3>Just you and your thoughts. No likes, comments or shares</h3>
    <img
      class="featured_images display-on-desktop"
      width="75%"
      src="./home-desktop.jpg"
      alt="Innerpage doesn not collect your data"
    />
    <img
      class="featured_images display-on-mobile"
      width="100%"
      src="./home-mobile.jpg"
      alt="Innerpage doesn not collect your data"
    />
  </Section>
  <Section>
    <h2>Minimalistic</h2>
    <h3>Designed for the joy of writing. Clutter-free and text-only</h3>
    <img
      class="featured_images display-on-desktop"
      width="75%"
      src="./journal-desktop.jpg"
      alt="Innerpage doesn not collect your data"
    />
    <img
      class="featured_images display-on-mobile"
      width="100%"
      src="./journal-mobile.jpg"
      alt="Innerpage doesn not collect your data"
    />
  </Section>
  <Section>
    <article>
      <div class="gallery">
        <div class="gallery__item">
          <img
            class="benefits__icons"
            src="./diversity.svg"
            width="56"
            height="56"
            alt="Innerpage is free to use because good mental health is a human right"
          />
          <p>
            <span class="bright">
              <strong>Free to use</strong>
            </span><br />
            Because good mental health is a human right
          </p>
        </div>
        <div class="gallery__item">
          <img
            class="benefits__icons"
            src="./open-lock.svg"
            width="56"
            height="56"
            alt="Innerpage doesn not collect your data"
          />
          <p>
            <span class="bright">
              <strong>Open-source</strong>
            </span><br />
            Your data is neither tracked nor analyzed
          </p>
        </div>
        <div class="gallery__item">
          <img
            class="benefits__icons"
            src="./visibility-off.svg"
            width="56"
            height="56"
            alt="Innerpage doesn not collect your data"
          />
          <p>
            <span class="bright">
              <strong>No analytics</strong>
            </span><br />
            Your data is neither tracked nor analyzed
          </p>
        </div>
        <div class="gallery__item">
          <img
            class="benefits__icons"
            src="./tune.svg"
            width="56"
            height="56"
            alt="Innerpage offers full data control"
          />
          <p>
            <span class="bright">
              <strong>Full Data Control</strong>
            </span><br />
            Delete your account & data anytime you want
          </p>
        </div>
        <div class="gallery__item">
          <img
            class="benefits__icons"
            src="./share-off.svg"
            width="56"
            height="56"
            alt="Innerpage does not share your data with third-parties"
          />
          <p>
            <span class="bright">
              <strong>No Third-Party Sharing</strong>
            </span><br />
            We will never sell or store your data
          </p>
        </div>
      </div>
    </article>
  </Section>
  <Section>
    <h2>Contact Us</h2>
    <article>
      <br />
      <ul class="separator-list">
        <li>
          Email:&nbsp;&nbsp;<Link href={`mailto:${Var.app.contact.email}`}
            >{Var.app.contact.email}</Link
          >
        </li>
        <li>
          Twitter:&nbsp;&nbsp;<Link
            href={Var.app.contact.social.twitter}
            target="_blank">{Var.app.contact.social.twitter}</Link
          >
        </li>
      </ul>
    </article>
  </Section>
</Site>

<style>
  .benefits__icons {
    font-size: 1.5em;
    margin-bottom: 0.25em;
  }

  .hero {
    width: 680px;
  }

  .check-icon {
    margin-right: 0.5em;
  }

  .flex-list-items li {
    display: flex;
  }

  .featured_images {
    max-width: 720px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: var(--border-radius);
    margin-top: 2em;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(238, 179, 179, 0.3);
    -moz-box-shadow: 0px 0px 20px 0px rgba(238, 179, 179, 0.3);
    box-shadow: 0px 0px 20px 0px rgba(238, 179, 179, 0.3);
  }

  li p {
    margin-bottom: 0.75em;
  }

  li p:last-child {
    margin-bottom: 0;
  }

  .petal {
    width: 25px;
    height: 25px;
    position: absolute;
  }

  .petal:nth-child(1) {
    top: 32vh;
    left: -10%;
    animation: blowing 10s 1s linear infinite;
  }

  .gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
    margin-top: 1em;
  }

  .gallery__item {
    width: 300px;
    border: var(--border);
    padding: calc(var(--padding) * 2) calc(var(--padding) * 1.5);
    border-radius: var(--border-radius);
    text-align: center;
  }

  .petal:nth-child(2) {
    top: 30vh;
    left: -10%;
    animation: blowing 8s linear infinite;
  }

  .petal:nth-child(3) {
    top: 40vh;
    left: -10%;
    animation: blowing 9s 3s linear infinite;
  }

  .quote {
    background: -webkit-linear-gradient(#eeb3b3, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  @keyframes blowing {
    0% {
      transform: translate(0, 0) rotate(0);
    }
    25% {
      transform: translate(25vw, -10vh) rotate(120deg);
    }
    50% {
      transform: translate(50vw, -12vh) rotate(180deg);
    }
    75% {
      transform: translate(75vw, -17vh) rotate(250deg);
    }
    100% {
      transform: translate(100vw, -25vh) rotate(360deg);
    }
  }

  @media only screen and (max-width: 1023px) {
    .hero {
      width: 100%;
    }

    .featured_images {
      width: 100%;
      max-width: 420px;
      -webkit-box-shadow: 0px 0px 10px 0px rgba(238, 179, 179, 0.2);
      -moz-box-shadow: 0px 0px 10px 0px rgba(238, 179, 179, 0.2);
      box-shadow: 0px 0px 10px 0px rgba(238, 179, 179, 0.2);
    }

    .gallery__item {
      width: 100%;
      max-width: 420px;
    }
  }
</style>

<script
  data-name="BMC-Widget"
  data-cfasync="false"
  src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js"
  data-id="innerpage"
  data-description="If you love journaling please support us!"
  data-message="Support Innerpage"
  data-color="#BD5FFF"
  data-position="Top"
  data-x_margin="30"
  data-y_margin="30"></script>
