---
import Site from '../../layouts/Site.astro'
import Section from '../../components/container/Section.astro'
import Link from '../../components/elements/Link.astro'
import { Var } from '../../script/var'

const title = `Privacy Policy | ${Var.app.name} – ${Var.app.tagline}`
const description = `Discover how ${Var.app.name} ensures your privacy with private, anonymous, open source and free journaling. Our policy explains how we protect your data and maintain confidentiality without tracking or sharing information`
---

<Site title={title} description={description}>
  <Section>
    <article>
      <h1>Privacy Policy</h1>
      <p>
        <strong>Updated on September 18, 2024</strong>. This policy is adapted
        from the <Link
          href="https://github.com/basecamp/policies"
          target="_blank">Basecamp Open-Source Policies</Link
        > / <Link
          href="https://creativecommons.org/licenses/by/4.0/"
          target="_blank">CC BY 4.0</Link
        >
      </p>
      <br />
      <p>
        In this policy, we lay out: what data we collect and why; how your data
        is handled; and your rights with respect to your data. We never sell
        your data.
      </p>
      <div class="separator"></div>
      <h2>Contents</h2>
      <ul class="bullet-list--disc left-margin">
        <li>
          <Link href="#what-we-collect-and-why">What we collect and why </Link>
        </li>
        <li>
          <Link href="#when-we-access-or-disclose-your-information"
            >When we access or disclose your information
          </Link>
        </li>
        <li>
          <Link href="#your-rights-with-respect-to-your-information"
            >Your information rights
          </Link>
        </li>
        <li>
          <Link href="#how-we-secure-your-data">How we secure your data</Link>
        </li>
        <li>
          <Link
            href="#what-happens-when-you-delete-content-in-your-product-accounts"
            >What happens when you delete a jounral entry</Link
          >
        </li>
        <li>
          <Link href="#location-of-site-and-data"
            >Location of site and data</Link
          >
        </li>

        <li>
          <Link href="#changes-and-questions">Changes and questions</Link>
        </li>
      </ul>
      <div class="separator"></div>
      <p>
        This policy applies to our handling of information about site visitors
        and users. We refer collectively to these categories of individuals as
        “you” throughout this policy.
      </p>
      <div id="what-we-collect-and-why" class="separator"></div>
      <h2>What we collect and why</h2>
      <p>
        Our guiding principle is to collect only what we need. Here’s what that
        means in practice:
      </p>
      <ol class="left-margin">
        <li>
          <p>
            <strong>Identity and access</strong> &mdash; When you sign up for {
              Var.app.name
            }, we only collect your username and password.
          </p>
          <p>
            We do not ask for any identifying information such as your name,
            email address, country of residence and maybe a company name.
          </p>
        </li>
        <li>
          <p>
            <strong>Donation information</strong> &mdash; If you donate to {
              Var.app.name
            }, you will be asked to provide your payment information and email.
          </p>
          <p>
            The payment information is submitted directly to our payment
            processor and doesn’t hit our servers.
          </p>
          <p>
            Our payment process allows us to explore the list of donors but we
            cannot link a donor to any account on {Var.app.name}.
          </p>
        </li>
        <li>
          <p>
            <strong>Product interactions</strong> &mdash; We store your journal entries
            on our servers. This is so you can use {Var.app.name} as intended.
          </p>
          <p>We keep this content as long as your account is active.</p>
        </li>
        <li>
          <p>
            <strong>General Geolocation and IP data</strong> &mdash; We do not log/save
            your geolocation or IP address.
          </p>
        </li>
        <li>
          <p>
            <strong>Website interactions</strong> &mdash; We do not collect information
            about your browsing or journaling activity.
          </p>
        </li>
        <li>
          <p>
            <strong>Cookies</strong> &mdash; We use two persistent first-party cookies
            for user authentication. They are: <u>isLogged</u> and <u
              >sessionId</u
            > (HttpOnly & Secure)
          </p>
        </li>
        <li>
          <p>
            <strong>Voluntary correspondence</strong> &mdash; When you email {
              Var.app.name
            } with a question or to ask for help, we maintain a history of that correspondence
            to refer if you reach out in the future.
          </p>
          <p>
            We also store information you may volunteer, for example, written
            responses to surveys.
          </p>
          <p>
            If you agree to a customer interview, we may ask for your permission
            to record the conversation for future reference or use.
          </p>
          <p>We will only do so with your express consent.</p>
        </li>
      </ol>
      <div id="when-we-access-or-disclose-your-information" class="separator">
      </div>
      <h2>When we access or disclose your information</h2>
      <ol class="left-margin">
        <li>
          <p>
            <strong>To provide products or services you’ve requested</strong> &mdash;
            We use some third-party subprocessors to help run our applications and
            provide the Services to you. Here is the list of sub-processors:
            <ul class="bullet-list--disc left-margin">
              <li>
                <Link
                  href="https://www.hetzner.com/legal/privacy-policy"
                  target="_blank">Hetzner</Link
                > for cloud hosting
              </li>
              <li>
                <Link href="https://buymeacoffee.com" target="_blank"
                  >Buy Me a Coffee</Link
                > for payment processing
              </li>
              <li>
                <p>
                  <Link
                    href="https://www.cloudflare.com/gdpr/introduction/"
                    target="_blank">Cloudflare</Link
                  > for cloud security
                </p>
              </li>
            </ul>
          </p>
        </li>
        <li>
          <p>
            <strong>To troubleshoot or squash a software bug</strong> &mdash; If
            at any point we need to access your content to help you with a support
            case, we will ask for your consent before proceeding.
          </p>
        </li>
        <li>
          <p>
            <strong
              >To investigate, prevent, or take action regarding <Link
                href="terms-of-service/#user-restriction-list"
                target="_blank"
                >restricted uses
              </Link></strong
            > &mdash; Accessing a customer’s account when investigating potential
            abuse is a measure of last resort.
          </p>
          <p>
            We want to protect the privacy and safety of both our customers and
            the people reporting issues to us, and we do our best to balance
            those responsibilities throughout the process.
          </p>
          <p>
            If we discover you are using our products for a restricted purpose,
            we will take action as necessary, including notifying appropriate
            authorities where warranted.
          </p>
        </li>
        <li>
          <p>
            <strong>When required under applicable law</strong> &mdash;
            {Var.app.name} is developed by an Indian company with its main data infrastructure
            located in Germany.
          </p>
          <ul class="left-margin bullet-list--disc">
            <li>
              <p>
                <strong>Requests for user data</strong> &mdash; Our policy is to
                not respond to government requests for user data unless we are compelled
                by legal process.
              </p>
              <p>
                If Indian law enforcement authorities have the necessary
                warrant, criminal subpoena, or court order requiring us to
                disclose data, we must comply.
              </p>
              <p>
                Likewise, we will only respond to requests from government
                authorities outside India if compelled by the Indian government.
              </p>
              <p>
                It is {Var.app.name} policy to notify affected users before we disclose
                data unless we are legally prohibited from doing so.
              </p>
            </li>
            <li>
              <p>
                If we are audited by a tax authority, we may be required to
                disclose donation-related information.
              </p>
              <p>
                If that happens, we will disclose only the minimum needed i.e.
                names and donation amount only.
              </p>
            </li>
          </ul>
        </li>
      </ol>
      <div id="your-rights-with-respect-to-your-information" class="separator">
      </div>
      <h2>Your information rights</h2>
      <p>
        At {Var.app.name}, we strive to apply the same data rights to all users,
        regardless of their location. Some of these rights include:
      </p>
      <ul class="left-margin bullet-list--disc">
        <li>
          <p>
            <strong>Right to Know</strong> &mdash; You have the right to know what
            personal information is collected, used, shared or sold.
          </p>
          <p>
            We outline both the categories and specific bits of data we collect,
            as well as how they are used, in this privacy policy.
          </p>
        </li>
        <li>
          <p>
            <strong>Right of Access</strong> &mdash; This includes your right to
            access the personal information we gather about you.
          </p>
          <p>
            This also includes your right to obtain information about the
            sharing, storage, security and processing of that information.
          </p>
        </li>
        <li>
          <p>
            <strong>Right to Correction</strong> &mdash; You have the right to request
            correction of your personal information.
          </p>
        </li>
        <li>
          <p>
            <strong>Right to Erasure / “To Be Forgotten”</strong> &mdash; This is
            your right to erase your information from our possession.
          </p>
          <p>
            Fulfillment of some data deletion requests may prevent you from
            using
            {Var.app.name}.
          </p>
          <p>
            In such cases, a data deletion request may result in closing your
            account.
          </p>
        </li>
        <li>
          <p>
            <strong>Right to Complain</strong> &mdash; You have the right to make
            a complaint regarding our handling of your personal information with
            the appropriate supervisory authority.
          </p>
        </li>
        <li>
          <p>
            <strong>Right to Object</strong> &mdash; You have the right, in certain
            situations, to object to how or why your personal information is processed.
          </p>
        </li>
        <li>
          <p>
            <strong>Right to Portability</strong> &mdash; You have the right to receive
            the personal information we have about you and the right to transmit
            it to another party.
          </p>
        </li>
        <li>
          <p>
            <strong>Right to not Be Subject to Automated Decision-Making</strong
            > &mdash; You have the right to object to any decision that could have
            a legal or similarly significant effect on you from being made solely
            based on automated processes.
          </p>
          <p>
            This right is limited if the decision is necessary for performance
            of any contract between you and us, is allowed by applicable law, or
            is based on your explicit consent.
          </p>
        </li>
      </ul>
      <div id="how-we-secure-your-data" class="separator"></div>
      <h2>How we secure your data</h2>
      <p>
        All data is encrypted via <Link
          href="https://en.wikipedia.org/wiki/Transport_Layer_Security"
          target="_blank"
        >
          SSL/TLS</Link
        > when transmitted from our servers to your browser.
      </p>
      <p>The passwords are hashed with industry standard hashing algorithm.</p>
      <p>
        At the moment, or live database is not encrypted. However, the database
        backups are encrypted.
      </p>
      <div
        id="what-happens-when-you-delete-content-in-your-product-accounts"
        class="separator"
      >
      </div>
      <h2>What happens when you delete a journal entry</h2>
      <p>
        We give you the option to trash a journal entry. The trashed content
        cannot be accessed via {Var.app.name} and we are not able to retrieve it
        for you.
      </p>
      <p>
        If you choose to delete your account, your content will become
        immediately inaccessible and purged from our systems immediately.
      </p>

      <div id="location-of-site-and-data" class="separator"></div>
      <h2>Location of site and data</h2>
      <p>Our web server and database is housed in Germany.</p>
      <div id="changes-and-questions" class="separator"></div>
      <h2>Changes to this policy</h2>
      <p>
        We may update this policy as needed to comply with relevant regulations
        and reflect any new practices.
      </p>
      <p>
        If we make significant changes to this privacy policy, we will refresh
        the date at the top of this page.
      </p>
      <p>
        Kindly read the updated version of this policy before using {
          Var.app.name
        }.
      </p>
      <div id="changes-and-questions" class="separator"></div>
      <h2>Help & Support</h2>
      <p>
        Have any questions, comments, or concerns about this privacy policy?
        Please email us at <Link
          href=`mailto:${Var.app.contact.email}`
          target="_blank">{Var.app.contact.email}</Link
        >
      </p>
    </article>
  </Section>

  <style></style>
</Site>

<script
  data-name="BMC-Widget"
  data-cfasync="false"
  src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js"
  data-id="innerpage"
  data-description="If you love journaling please support us!"
  data-message="Support Innerpage"
  data-color="#BD5FFF"
  data-position="Top"
  data-x_margin="30"
  data-y_margin="30"></script>
