---
import Site from '../../layouts/Site.astro'
import Section from '../../components/container/Section.astro'
import Link from '../../components/elements/Link.astro'
import { Var } from '../../script/var'
---

<Site
  title={`${Var.app.name} — ${Var.app.tagline}`}
  description={Var.app.description}
>
  <Section>
    <h1>Privacy Policy</h1>
    <br />
    <article>
      <p>
        In this policy, we lay out: what data we collect and why; how your data
        is handled; and your rights with respect to your data. We never sell
        your data.
      </p>
      <div class="separator"></div>
      <h3>Contents</h3>
      <ul>
        <li>
          <Link href="#what-we-collect-and-why">What we collect and why </Link>
        </li>
        <li>
          <Link href="#when-we-access-or-disclose-your-information"
            >When we access or disclose your information
          </Link>
        </li>
        <li>
          <Link href="#your-rights-with-respect-to-your-information"
            >Your rights with respect to your information
          </Link>
        </li>
        <li>
          <Link href="#how-we-secure-your-data">How we secure your data</Link>
        </li>
        <li>
          <Link
            href="#what-happens-when-you-delete-content-in-your-product-accounts"
            >What happens when you delete content in your product accounts</Link
          >
        </li>
        <li>
          <Link href="#data-retention">Data retention</Link>
        </li>
        <li>
          <Link href="#location-of-site-and-data"
            >Location of site and data</Link
          >
        </li>
        <li>
          <Link href="#when-transferring-personal-data-from-the-eu"
            >When transferring personal data from the EU</Link
          >
        </li>
        <li>
          <Link href="#changes-and-questions">Changes and questions</Link>
        </li>
      </ul>
      <div class="separator"></div>
      <p>
        This policy applies to all products built and maintained by
        <Link href={Var.app.developer.url} target="_blank"
          >{Var.app.developer.name}
        </Link> including <Link href={Var.app.website.url} target="_blank"
          >{Var.app.name}
        </Link>. If you are applying for a job at Projckt, please review our <Link
          href="recruitment-privacy-policy"
          target="_blank"
          >Recruitment Privacy Policy
        </Link>.
      </p>
      <p>
        This policy applies to our handling of information about site visitors,
        prospective customers, and customers and authorized users (in relation
        to their procurement of the services and management of their
        relationship with Projckt). We refer collectively to these categories of
        individuals as “you” throughout this policy.
      </p>
      <p>
        However, this policy does not cover information about a customer’s end
        users that Projckt receives from a customer, or otherwise processes on a
        customer’s behalf, in connection with the services provided by Projckt
        to the customer pursuant to an applicable services agreement (including
        the content of messages of customer end users (“End User
        Communications”)). Projckt processes End User Communications under the
        instructions of the relevant customer, which is the “data controller” or
        “business” (or occupies a similar role as defined in applicable privacy
        laws), as described in the applicable services agreement between such
        customer and Projckt. Projckt's obligations as a “data processor” or
        “service provider” with respect to such information are defined in such
        services agreement and applicable data protection addendum and are not
        made part of this policy.
      </p>
      <p>
        If you are a customer’s end user and you have questions about how your
        information is collected and processed through the services, please
        contact the organization who has provided your information to us for
        more information.
      </p>
      <p>
        If you are a California resident, please click here to see our
        <Link href="/policies/privacy-policy/ccpa" target="_blank"
          >California Notice at Collection
        </Link>, which includes additional disclosures as required by California
        law.
      </p>
      <div id="what-we-collect-and-why" class="separator"></div>
      <h3>What we collect and why</h3>
      <p>
        Our guiding principle is to collect only what we need. Here’s what that
        means in practice:
      </p>
      <ol>
        <li>
          <p>
            <strong><span class="bright">Identity and access</span></strong>
            <br />When you sign up for {Var.app.name} or any {
              Var.app.developer.name
            } product, we ask for identifying information such as your name, email
            address, country of residence and maybe a company name. That’s so you
            can personalize your new account, internal tax accounting and we can
            send you product updates and other essential information. We may also
            send you optional surveys from time to time to help us understand how
            you use our products and to make improvements. With your consent, we
            will send you our newsletter and other updates. We’ll never sell your
            personal information to third parties, and we won’t use your name or
            company in marketing statements without your permission either.
          </p>
        </li>
        <li>
          <p>
            <strong><span class="bright">Billing information</span></strong><br
            />
            If you sign up for {Var.app.name} or any paid {
              Var.app.developer.name
            } product, you will be asked to provide your payment information and
            billing address. Credit card information is submitted directly to our
            payment processor and doesn’t hit our servers. We store a record of the
            payment transaction,for purposes of account history, invoicing, and billing
            support. We store your country of residence (and state, in case of India)
            so we can charge you for service, calculate any sales tax due, send you
            invoices, and detect fraudulent credit card transactions. We occasionally
            use aggregate billing information to guide our marketing efforts.
          </p>
        </li>
        <li>
          <p>
            <strong><span class="bright">Product interactions</span></strong><br
            />
            We store on our servers the content that you upload or receive or maintain
            in your {Var.app.name} product accounts. This is so you can use our products
            as intended. We keep this content as long as your account is active.
            If you delete your account, we’ll delete the content within 60 days.
          </p>
        </li>
        <li>
          <p>
            <strong><span class="bright">General Geolocation data</span></strong
            ><br />
            For most of our products, we log the full IP address used to sign up
            a product account and retain that for use in mitigating future spammy
            signups. We also log all account access by full IP address for security
            and fraud prevention purposes, and we keep this login data for as long
            as your product account is active.
          </p>
        </li>
        <li>
          <p>
            <strong><span class="bright">Website interactions</span></strong><br
            />We collect information about your browsing activity for analytics
            and statistical purposes such as conversion rate testing and
            experimenting with new product designs. This includes, for example,
            your browser and operating system versions, your IP address, which
            web pages you visited and how long they took to load, and which
            website referred you to us. If you have an account and are signed
            in, these web analytics data are tied to your IP address and user
            account until your account is no longer active. The web analytics we
            use are described further in the Advertising and Cookies section.
          </p>
        </li>
        <li>
          <p>
            <strong><span class="bright">Anti-bot assessments</span></strong><br
            />
            We use <Link
              href="https://en.wikipedia.org/wiki/CAPTCHA"
              target="_blank"
              >CAPTCHA
            </Link> on {Var.app.name} and across {Var.app.developer.name} products
            to mitigate brute force logins and as a means of spam protection. We
            have a legitimate interest in protecting our apps and the broader Internet
            community from credential stuffing attacks and spam. The CAPTCHA service
            evaluates various information (e.g., IP address, how long the visitor
            has been on the app, mouse movements) to try to detect if the activity
            is from an automated program instead of a human. The CAPTCHA service
            then provides 37signals with the spam score results; we do not have access
            to the evaluated information.
          </p>
        </li>
        <li>
          <p>
            <strong><span class="bright">Advertising and Cookies</span></strong
            ><br />
            {Var.app.developer.name} occasionally runs ads on various third-party
            platforms such as Google. Users who click on one of our ads will be sent
            to our marketing site. Where permissible under law, we may load an ad-company
            script on their browsers that sets a third-party cookie and sends information
            to the ad network to enable evaluation of the effectiveness of our ads,
            e.g., which ad they clicked and which keyword triggered the ad, and whether
            they performed certain actions such as clicking a button or submitting
            a form.
          </p>
          <p>
            We also use persistent first-party cookies and some third-party
            cookies to store certain preferences, make it easier for you to use
            our applications, and perform A/B testing as well as support some
            analytics.
          </p>
          <p>
            A cookie is a piece of text stored by your browser. It may help
            remember login information and site preferences. It might also
            collect information such as your browser type, operating system, web
            pages visited, duration of visit, content viewed, and other
            click-stream data. You can adjust cookie retention settings and
            accept or block individual cookies in your browser settings,
            although our apps won’t work and other aspects of our service may
            not function properly if you turn cookies off.
          </p>
        </li>
        <li>
          <p>
            <strong><span class="bright">Voluntary correspondence</span></strong
            ><br />
            When you email {Var.app.name} or {Var.app.developer.name} with a question
            or to ask for help, we keep that correspondence, including your email
            address, so that we have a history of past correspondence to reference
            if you reach out in the future.
          </p>
          <p>
            We also store information you may volunteer, for example, written
            responses to surveys. If you agree to a customer interview, we may
            ask for your permission to record the conversation for future
            reference or use. We will only do so with your express consent.
          </p>
        </li>
      </ol>
      <div id="when-we-access-or-disclose-your-information" class="separator">
      </div>
      <h3>When we access or disclose your information</h3>
      <ol>
        <li>
          <p>
            <strong
              ><span class="bright"
                >To provide products or services you’ve requested</span
              ></strong
            ><br />
            We use some third-party subprocessors to help run our applications and
            provide the Services to you. You can view the list at <Link
              href="privacy-policy/sub-processors"
              target="_blank"
              >Company Sub-processors
            </Link>. We also use third-party processors for other business
            functions such as managing newsletter subscriptions, sending
            customer surveys, and providing our company storefront. You can view
            the list at <Link href="privacy-policy/processors" target="_blank"
              >Company Processors
            </Link>.
          </p>
          <p>
            Our employees looks at your content except for limited purposes with
            your express permission, for example, if an error occurs that stops
            an automated process from working and requires manual intervention
            to fix. These are rare cases, and when they happen, we look for root
            cause solutions as much as possible to avoid them recurring. We may
            also access your data if required in order to respond to legal
            process (see “When required under applicable law” below).
          </p>
        </li>
        <li>
          <p>
            <strong
              ><span class="bright">To exclude you from seeing our ads</span
              ></strong
            ><br />
            Where permissible by law and if you have a {Var.app.name} account, we
            may disclose a one-way hash of your email address with ad companies to
            exclude you from seeing our ads.
          </p>
        </li>
        <li>
          <p>
            <strong
              ><span class="bright"
                >To help you troubleshoot or squash a software bug, with your
                permission</span
              ></strong
            ><br />
            If at any point we need to access your content to help you with a support
            case, we will ask for your consent before proceeding.
          </p>
        </li>
        <li>
          <p>
            <strong
              ><span class="bright"
                >To investigate, prevent, or take action regarding <Link
                  href="terms-of-service/#user-restriction-list"
                  target="_blank"
                  >restricted uses
                </Link></span
              ></strong
            >Accessing a customer’s account when investigating potential abuse
            is a measure of last resort. We want to protect the privacy and
            safety of both our customers and the people reporting issues to us,
            and we do our best to balance those responsibilities throughout the
            process. If we discover you are using our products for a restricted
            purpose, we will take action as necessary, including notifying
            appropriate authorities where warranted.
          </p>
        </li>
        <li>
          <p>
            <strong
              ><span class="bright">Aggregated and de-identified data</span
              ></strong
            ><br />
            We may aggregate and/or de-identify information collected through the
            services. We may use de-identified or aggregated data for any purpose,
            including marketing or analytics.
          </p>
        </li>
        <li>
          <strong
            ><span class="bright">When required under applicable law</span
            ></strong
          ><br />
          <p>
            {Var.app.name} is an Indian company with its main data infrastructure
            located in Europe.
          </p>
          <ul>
            <li>
              <p>
                <strong>Requests for user data:</strong> Our policy is to not respond
                to government requests for user data unless we are compelled by legal
                process or in limited circumstances in the event of an emergency
                request. However, if Indian law enforcement authorities have the
                necessary warrant, criminal subpoena, or court order requiring us
                to disclose data, we must comply. Likewise, we will only respond
                to requests from government authorities outside India if compelled
                by the Indian government through procedures outlined in a mutual
                legal assistance treaty or agreement. It is {Var.app.name} policy
                to notify affected users before we disclose data unless we are legally
                prohibited from doing so, and except in some emergency cases.
              </p>
            </li>
            <li>
              <p>
                <strong>Preservation requests:</strong> Similarly, {
                  Var.app.name
                }'s policy is to comply with requests to preserve data only if
                compelled by the Indian government, or by a properly served
                Indian subpoena for civil matters. We do not disclose preserved
                data unless required by law or compelled by a court order that
                we choose not to appeal. Furthermore, unless we receive a proper
                warrant, court order, or subpoena before the required
                preservation period expires, we will destroy any preserved
                copies of customer data at the end of the preservation period.
              </p>
            </li>
            <li>
              <p>
                If we are audited by a tax authority, we may be required to
                disclose billing-related information. If that happens, we will
                disclose only the minimum needed, such as billing addresses and
                tax exemption information.
              </p>
            </li>
          </ul>
          Finally, if {Var.app.name} is acquired by or merges with another company
          — we don’t plan on that, but if it happens — we’ll notify you well before
          any of your personal information is transferred or becomes subject to a
          different privacy policy.
        </li>
      </ol>
      <div id="your-rights-with-respect-to-your-information" class="separator">
      </div>
      <h3>Your rights with respect to your information</h3>
      <p>
        At {Var.app.name}, we strive to apply the same data rights to all
        customers, regardless of their location. Some of these rights include:
      </p>
      <ul>
        <li>
          <p>
            <span class="bright"><strong>Right to Know</strong></span><br /> You
            have the right to know what personal information is collected, used,
            shared or sold. We outline both the categories and specific bits of data
            we collect, as well as how they are used, in this privacy policy.
          </p>
        </li>
        <li>
          <p>
            <span class="bright"><strong>Right of Access</strong></span><br /> This
            includes your right to access the personal information we gather about
            you, and your right to obtain information about the sharing, storage,
            security and processing of that information.
          </p>
        </li>
        <li>
          <p>
            <span class="bright"><strong>Right to Correction</strong></span><br
            />
            You have the right to request correction of your personal information.
          </p>
        </li>
        <li>
          <p>
            <span class="bright"
              ><strong>Right to Erasure / “To Be Forgotten”</strong></span
            ><br />This is your right to request, subject to certain limitations
            under applicable law, that your personal information be erased from
            our possession and, by extension, from all of our service providers.
            Fulfillment of some data deletion requests may prevent you from
            using
            {Var.app.name} services because our applications may then no longer work.
            In such cases, a data deletion request may result in closing your account.
          </p>
        </li>
        <li>
          <p>
            <span class="bright"><strong>Right to Complain</strong></span><br />
            You have the right to make a complaint regarding our handling of your
            personal information with the appropriate supervisory authority.
          </p>
        </li>
        <li>
          <p>
            <span class="bright"
              ><strong>Right to Restrict Processing</strong></span
            ><br />This is your right to request restriction of how and why your
            personal information is used or processed, including opting out of
            sale of your personal information. (Again: we never have and never
            will sell your personal data.)
          </p>
        </li>
        <li>
          <p>
            <span class="bright"><strong>Right to Object</strong></span><br
            />You have the right, in certain situations, to object to how or why
            your personal information is processed.
          </p>
        </li>
        <li>
          <p>
            <span class="bright"><strong>Right to Portability</strong></span><br
            />You have the right to receive the personal information we have
            about you and the right to transmit it to another party.
          </p>
        </li>
        <li>
          <p>
            <span class="bright"
              ><strong
                >Right to not Be Subject to Automated Decision-Making</strong
              ></span
            ><br />You have the right to object to and prevent any decision that
            could have a legal or similarly significant effect on you from being
            made solely based on automated processes. This right is limited if
            the decision is necessary for performance of any contract between
            you and us, is allowed by applicable law, or is based on your
            explicit consent.
          </p>
        </li>
        <li>
          <p>
            <span class="bright"
              ><strong>Right to Non-Discrimination</strong></span
            ><br />We do not and will not charge you a different amount to use
            our products, offer you different discounts, or give you a lower
            level of customer service because you have exercised your data
            privacy rights. However, the exercise of certain rights may, by
            virtue of your exercising those rights, prevent you from using our
            Services.
          </p>
        </li>
      </ul>
      <p>
        Many of these rights can be exercised by signing in and updating your
        account information. Please note that certain information may be exempt
        from such requests under applicable law. For example, we need to retain
        certain information in order to provide our services to you.
      </p>
      <p>
        In some cases, we also need to take reasonable steps to verify your
        identity before responding to a request, which may include, at a
        minimum, depending on the sensitivity of the information you are
        requesting and the type of request you are making, verifying your name
        and email address. If we are unable to verify you, we may be unable to
        respond to your requests. If you have questions about exercising these
        rights or need assistance, please contact us at <Link
          href=`mailto:${Var.app.contact.email}`
          target="_blank">{Var.app.contact.email}</Link
        >. If an authorized agent is corresponding on your behalf, we will need
        written consent with a signature from the account holder before
        proceeding.
      </p>
      <div id="how-we-secure-your-data" class="separator"></div>
      <h3>How we secure your data</h3>
      <p>
        All data is encrypted via <Link
          href="https://en.wikipedia.org/wiki/Transport_Layer_Security"
          target="_blank"
        >
          SSL/TLS</Link
        > when transmitted from our servers to your browser. The database backups
        are also encrypted. In addition, we go to great lengths to secure your data
        at rest. For more information about how we keep your information secure,
        please review our <Link
          href="/policies/security-overview"
          target="_blank">Security Overview</Link
        >.
      </p>
      <div
        id="what-happens-when-you-delete-content-in-your-product-accounts"
        class="separator"
      >
      </div>
      <h3>What happens when you delete content in your product accounts</h3>
      <p>
        In many of our applications, we give you the option to trash content.
        Anything you trash in your product accounts while they are active will
        be kept in an accessible trash can for about 25 days (it varies a little
        by product). After that time, the trashed content cannot be accessed via
        the application and we are not able to retrieve it for you. The trashed
        content may remain on our active servers for another 30 days, and copies
        of the content may be held in backups of our application databases for
        up to another 30 days after that. Altogether, any content trashed in
        your product accounts should be purged from all of our systems and logs
        within 90 days.
      </p>
      <p>
        If you choose to cancel your account, your content will become
        immediately inaccessible and should be purged from our systems in full
        within 60 days. This applies both for cases when an account owner
        directly cancels and for auto-canceled accounts. Please refer to our <Link
          href="/policies/cancellation-and-refund"
          target="_blank">Cancellation Policy</Link
        > for more details.
      </p>
      <div id="data-retention" class="separator"></div>
      <h3>Data retention</h3>
      <p>
        We keep your information for the time necessary for the purposes for
        which it is processed. The length of time for which we retain
        information depends on the purposes for which we collected and use it
        and your choices, after which time we may delete and/or aggregate it. We
        may also retain and use this information as necessary to comply with our
        legal obligations, resolve disputes, and enforce our agreements. Through
        this policy, we have provided specific retention periods for certain
        types of information.
      </p>
      <div id="location-of-site-and-data" class="separator"></div>
      <h3>Location of site and data</h3>
      <p>
        Our products and other web properties are primarily housed in the United
        States. If you are located in the European Union, UK, or elsewhere
        outside of the United States, please be aware that any information you
        provide to us will be transferred to and stored in the United States. By
        using our websites or Services and/or providing us with your personal
        information, you consent to this transfer.
      </p>
      <div id="when-transferring-personal-data-from-the-eu" class="separator">
      </div>
      <h3>When transferring personal data from the EU</h3>
      <p>
        The European Data Protection Board (EDPB) has issued guidance that
        personal data transferred out of the EU must be treated with the same
        level of protection that is granted under EU privacy law. UK law
        provides similar safeguards for UK user data that is transferred out of
        the UK. Accordingly, {Var.app.name} has adopted a data processing addendum
        with Standard Contractual Clauses to help ensure this protection. {
          Var.app.name
        }’s DPA
        <Link href="/policies/privacy-policy/gdpr/dpa" target="_blank"
          >is available here</Link
        >.
      </p>
      <p>
        There are also a few ad hoc cases where EU personal data may be
        transferred to India in connection with 37signals operations, for
        instance, if an EU user signs up for our newsletter or participates in
        one of our surveys. Such transfers are only occasional and data is
        transferred under the <Link
          href="https://gdpr-info.eu/art-49-gdpr/"
          target="_blank">Article 49(1)(b) derogation</Link
        > under GDPR and the UK version of GDPR.
      </p>
      <div id="changes-and-questions" class="separator"></div>
      <h3>Changes and questions</h3>
      <p>
        We may update this policy as needed to comply with relevant regulations
        and reflect any new practices. If we make significant changes, we will
        refresh the date at the top of this page. Kindly read the updated
        version of this policy before using {Var.app.name}.
      </p>
      <p>
        Have any questions, comments, or concerns about this privacy policy,
        your data, or your rights with respect to your information? Please get
        in touch by emailing us at <Link
          href=`mailto:${Var.app.contact.email}`
          target="_blank">{Var.app.contact.email}</Link
        >
      </p>
    </article>
  </Section>
</Site>

<style></style>
