---
import Site from "../../layouts/Site.astro"
import Section from "../../components/container/Section.astro"
import Link from "../../components/elements/Link.astro"
import { Var } from "../../script/var"

const title = `Support Us — ${Var.app.name}`
---

<Site title={title} description={Var.app.description}>
	<Section>
		<main>
			<h1>Support Us</h1>
			<p>Help us keep InnerPage afloat. This will help others access the benefits of journaling.</p><br/>
			<iframe id='kofiframe' src='https://ko-fi.com/innerpage/?hidefeed=true&widget=true&embed=true&preview=true' style='border:none;width:350px;padding:4px;background:#f9f9f9;border-radius: 0.5em;' height='600' title='innerpage'></iframe>
		</main>
	</Section>
	<Section>
		<main>
			<h2>Become a Sponsor</h2>
			<p>
				Our users are dedicated individuals keen on improving themselves on a daily basis.
			</p>
			<br/>
			<p> 
				If you are a brand working in the mental health space, sponsoring Innerpage is a great way to put yourself in front of a high quality audience.
			</p>
			<br/>
			<p>
				We will showcase your brand's logo under the <strong>Sponsors</strong> section on our landing page. The logo will also be linked to your website.
			</p>
			<br/>
			<p>
				If you wish to become a sponsor, kindly write to us: <Link href={`mailto:${Var.app.contact.email}`}><strong>{Var.app.contact.email}</strong></Link>
			</p>
		</main>
	</Section>
	<Section>
		<main><h2>2024 Roadmap</h2></main>
	</Section>
</Site>

<style>
	p {
		text-align: left;
	}
</style>
