---
import Site from '../../layouts/Site.astro'
import Section from '../../components/container/Section.astro'
import Link from '../../components/elements/Link.astro'

import { Var } from '../../script/var'

const title = `Blog | ${Var.app.name} – ${Var.app.tagline}`
const description = `Discover mental health tips, journaling techniques, and research insights on the ${Var.app.name} Blog. Learn how secure journaling can enhance your emotional well-being and mindfulness`
---

<Site title={title} description={description}>
  <Section>
    <article>
      <h1>Blog</h1>
      <br />
      <ul>
        <li>
          <Link href="./innerpage-ultimate-anonymous-journal-and-private-diary"
            >InnerPage: The Ultimate Anonymous Journal and Private Diary for
            Mental Well-being</Link
          >
          <p class="footnote">04 October 2024</p>
        </li>
      </ul>
    </article>
  </Section>
</Site>

<style></style>
