---
import Site from '../../layouts/Site.astro'
import Section from '../../components/container/Section.astro'
import Link from '../../components/elements/Link.astro'

import { Var } from '../../script/var'

const title = `Blog | ${Var.app.name} – ${Var.app.tagline}`
const description = `Discover mental health tips, journaling techniques, and research insights on the ${Var.app.name} Blog. Learn how secure journaling can enhance your emotional well-being and mindfulness`
---

<Site title={title} description={description}>
  <Section>
    <article>
      <h1>Blog</h1>
      <br />
      <ul>
        <li>
          <p class="blog__date footnote">04 January 2025</p>
          <Link href="./blog/expressive-journaling">
            Andrew Huberman Podcast &mdash; Journaling Protocol to Improve
            Mental & Physical Health
          </Link>
          <p class="bubble">Podcast Notes</p>
        </li>
        <div class="separator"></div>
        <li>
          <p class="blog__date footnote">04 January 2025</p>
          <Link href="./blog/expressive-journaling">
            Getting Started with Expressive Journaling: A Beginner's Guide to
            Reducing Stress, Anxiety, and Depression
          </Link>
          <p class="bubble">Original</p>
        </li>
        <div class="separator"></div>
        <li>
          <p class="blog__date footnote">04 October 2024</p>
          <Link href="./blog/innerpage">
            InnerPage: The Ultimate Anonymous Journal and Private Diary for
            Mental Well-being
          </Link>
          <p class="bubble">Original</p>
        </li>
      </ul>
    </article>
  </Section>
</Site>

<style>
  .blog__date {
    margin-bottom: 0.25em;
  }
</style>

<script
  data-name="BMC-Widget"
  data-cfasync="false"
  src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js"
  data-id="innerpage"
  data-description="If you love journaling please support us!"
  data-message="Support Innerpage"
  data-color="#BD5FFF"
  data-position="Top"
  data-x_margin="30"
  data-y_margin="30"></script>
